# NECESSARY
SESSION_ID =

# CONFIG

# Comma-separated list of prefixes.
# Example: !,.,#
# Note: commas themselves cannot be used as prefixes.
PREFIX =
BANK_NAME =
BANK_NUMBER =
BANK_ACCOUNT_NAME =
STATUS_ONLY_VIEW =
STATUS_EXCEPT_VIEW =
STATUS_DOWNLOAD_JID =
# TIMEZONE example: "Asia/Kolkata"
TIMEZONE =

PLATFORM =
AUTO_UPDATE_BOT =
REACT_EMOJI =
ALWAYS_ONLINE =
STICKER_PACKNAME =
WARN_LIMIT =

# Netscape format cookie from youtube.com.
# Must be wrapped in double quotes.
YT_COOKIE =

# BRANDING & LINKS
OWNER_NAME = Epzi
OWNER_NUMBER = 94764998808
OWNER_EMAIL = yurensasanka0@gmail.com
GITHUB_USERNAME = Epziii
GITHUB_REPO = Epziii/EpziZ
REPO_URL = https://github.com/Epziii/EpziZ.git
BOT_THUMBNAIL = https://i.ibb.co/fVJQHczm/siGOdOA.jpg
UPDATE_CHANNEL = https://t.me/EpziVerse
SUPPORT_LINK = https://t.me/+hmw3mLs1YFhlNjhl
PAIRING_SITE = https://ck-tours.top

# API KEYS
GENIUS_API_KEY =

# DEV
EXPLICIT_LOGS = 
MSG_MAX_AGE = # in milliseconds